@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
:root {
    font-family:sans-serif;
    
}
body {
  background-image:url(./images/quiz.jpg); 
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

#scores {
    color: white;
    background-color:green;
    font: 17px;
    margin:20px;
    padding: 6px 12px;
    border: white;
}

#countDown {
 display:flex;
 justify-content: flex-end;
 font: 16px;
 margin:-28px 15px;
font-style: italic;
}

#question, .options, .final{
    position: relative;
    top:200px;
    left:600px;
    font-size: 1.5rem;
    font-weight:bold;
    line-height: 2rem;
}


#initials {
   height: 1.5rem; 
   width: 3.5rem;
   font-size: 1.3rem;
} 


.result {
    position: relative;
    top:300px;
    left:600px;
  
}
.welCome {
    display:flex;
    justify-content:center;
    text-align: center;
    margin: 200px;
    padding: 35px;
    font-size: 35px;
}

.text  {
    display:flex;
    justify-content:center;
    text-align: center;
    margin: -200px;
    font-size: 20px;
}

#start  {
    position: relative;
    top:15rem;
    left:.3rem;
    color:white;
    background-color:green;
    padding: 6px 12px;
    border: white;
    line-height: 20px;
    font-size: 20px;
}
#submit, #restart, #clearScores, button {
    color:white;
    background-color:green;
    margin: 20px;
    line-height: 1.5rem;
    font-size: 20px;
    border: white;
}


.firstpage {
    text-align: center;
  
}

ul.options{
    list-style-type: none;
    padding:0px;
    margin: 0px;
}

.hide {
    display: none;
}

.endText {
    position: absolute;
    top: 60rem;
    left: 1.6rem;
}
.footer  {
    
    flex-shrink: 0;
    font-size: .8rem;
}